/* main.css */

/* @import url('header.css'); */
@import url('hoverCard.css');
/* @import url('quote.css'); */
@import url('content.css');
@import url('card2anime.css');
/* @import url('discover.css'); */
/* @import url('footer.css'); */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8F8F8;
    font-family: Arial, sans-serif;
}

/* Hide scrollbar but allow scrolling */
.element {
    overflow: auto; /* Keeps the element scrollable */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer 10+ */
    
}

.element::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
}


@keyframes transform-up {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* @keyframes moveInCircle {
    0% {
      transform: rotate(0deg) translateX(10px) rotate(0deg);
    }
    100% {
      transform: rotate(30deg) translateX(150px) rotate(-360deg);
    }
  }
  
  .profile_item {
    animation: moveInCircle 10s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
  }
   */
